


body .class{

    background-color : #d46d05b6;
    padding : 20px;
    text-align : center;        
    font-size : 25px;
    font-family : Arial, Helvetica, sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

body{

    background-color : #0792efc9;
    padding : 20px;
    text-align : center;        
    font-size : 25px;
    font-family : Arial, Helvetica, sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.class{
    color : #e4e7e7;

}



footer{
    background-color : #0925b2b6;
    padding : 10px;
    text-align : center;        
    font-size : 20px;
    font-family : Arial, Helvetica, sans-serif;
    color : #e4e7e7;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}

.font{
    color : #f303b3;
    font-size:24px;
    background-color:antiquewhite;
    padding-top:20px;
    padding-bottom:20px;
}
