



.container h1{
    text-align : center;        
    font-family : Arial, Helvetica, sans-serif;
    color : #f0f0f0;
   


}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #251844;
    border-radius: 10px;
    
}

li{
    display: inline;
    margin-right: 20px;

}

a{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 20px;
    padding-right: 15px;
}

.container{
    background-color : #132891b6;
    padding : 20px;
    text-align : center;        
    font-size : 25px;
    font-family : Arial, Helvetica, sans-serif;
    color : #0fc969;
    margin: 20px;
    width:90%;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 40px

}




body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: bold;
    background-color: #045ba3c2;
    margin: 20px;
    color:antiquewhite
}

#main{
    margin: auto;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: #132891b6;
    color: #f0f0f0;
}

footer{
    background-color : #0925b2b6;
    padding : 10px;
    text-align : center;        
    font-size : 20px;
    font-family : Arial, Helvetica, sans-serif;
    color : #f0f0f0;
    margin: 0 px
}

h2{
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-style: bold;
    color: #f0f0f0;
    margin-left:20px;
    
}

#showcase{
    background-image:url('../website/showcase.jpg');
    height:300px;
    background-size:cover;
    border-radius: 10px;
    margin-bottom:20px;
}

body{
background-image: url('../website/images/showcase.jpg');

}